/**
 * Assign catalog formats to Font Awesome icons
 */
.fa-printer:before {
  content: "\f02f"; }

.fa-grid:before {
  content: "\f00a"; }

.fa-visual:before {
  content: "\f008"; }

.fa-x:before {
  content: "\f0f6"; }

.fa-atlas:before {
  content: "\f14e"; }

.fa-book:before {
  content: "\f02d"; }

.fa-braille:before {
  content: "\f0a6"; }

.fa-cdrom:before {
  content: "\f109"; }

.fa-chart:before {
  content: "\f012"; }

.fa-chipcartridge:before {
  content: "\f109"; }

.fa-collage:before {
  content: "\f03e"; }

.fa-disccartridge:before {
  content: "\f109"; }

.fa-drawing:before {
  content: "\f03e"; }

.fa-ebook:before {
  content: "\f0f6"; }

.fa-electronic:before {
  content: "\f1c6"; }

.fa-filmstrip:before {
  content: "\f008"; }

.fa-flashcard:before {
  content: "\f0e7"; }

.fa-floppydisk:before {
  content: "\f0c7"; }

.fa-globe:before {
  content: "\f0ac"; }

.fa-journal:before {
  content: "\f0f6"; }

.fa-kit:before {
  content: "\f0b1"; }

.fa-manuscript:before {
  content: "\f0f6"; }

.fa-map:before {
  content: "\f14e"; }

.fa-microfilm:before {
  content: "\f008"; }

.fa-motionpicture:before {
  content: "\f03d"; }

.fa-musicalscore:before {
  content: "\f001"; }

.fa-musicrecording:before {
  content: "\f001"; }

.fa-newspaper:before {
  content: "\f0f6"; }

.fa-online:before {
  content: "\f109"; }

.fa-painting:before {
  content: "\f03e"; }

.fa-photo:before {
  content: "\f03e"; }

.fa-photonegative:before {
  content: "\f03e"; }

.fa-physicalobject:before {
  content: "\f187"; }

.fa-print:before {
  content: "\f03e"; }

.fa-sensorimage:before {
  content: "\f03e"; }

.fa-serial:before {
  content: "\f0f6"; }

.fa-slide:before {
  content: "\f008"; }

.fa-software:before {
  content: "\f109"; }

.fa-soundcassette:before {
  content: "\f025"; }

.fa-sounddisc:before {
  content: "\f109"; }

.fa-soundrecording:before {
  content: "\f025"; }

.fa-tapecartridge:before {
  content: "\f109"; }

.fa-tapecassette:before {
  content: "\f025"; }

.fa-tapereel:before {
  content: "\f008"; }

.fa-transparency:before {
  content: "\f008"; }

.fa-unknown:before {
  content: "\f128"; }

.fa-video:before {
  content: "\f03d"; }

.fa-videocartridge:before {
  content: "\f03d"; }

.fa-videocassette:before {
  content: "\f03d"; }

.fa-videodisc:before {
  content: "\f109"; }

.fa-videoreel:before {
  content: "\f03d"; }
