#modal {
  background-color: rgba(0, 0, 0, 0.2); }

#modal .modal-content > .close {
  position: absolute;
  right: -50px;
  top: 0;
  z-index: 2;
  font-size: 32pt;
  color: #fff;
  opacity: .7; }
  body.rtl #modal .modal-content > .close {
    left: -50px;
    right: auto; }

#modal .modal-content > .close:hover {
  opacity: 1; }

#modal .modal-body h1,
#modal .modal-body h2 {
  margin-top: 0.3rem;
  margin-bottom: 1.3rem; }

#modal .cart-controls .btn {
  margin-bottom: 4px; }

#modal .cart-controls .checkbox {
  padding-bottom: 1rem; }

#modal .cart-controls ~ hr {
  margin-top: 0; }

.lightbox-scroll {
  overflow-y: auto; }

.modal-loading {
  float: right; }

body.rtl .modal-loading {
  float: left; }

.lightbox-only {
  display: none; }

#modal .lightbox-only {
  display: initial; }
