<?php
  // Set page title.
  $this->headTitle($this->translate('Search Home'));

  // Disable top search box -- this page has a special layout.

  // Set default value if necessary:
  if (!isset($this->searchClassId)) {
    $this->searchClassId = 'Solr';
  }

  // Load search actions and settings (if any):
  $options = $this->searchOptions($this->searchClassId);
  $basicSearch = $options->getSearchAction();
  $advSearch = $options->getAdvancedSearchAction();

  $this->layout()->breadcrumbs = false;
?>

<div class="searchHomeContent">
  <?
  $ilsStatusScript = <<<JS
$(document).ready(function() {
  $.ajax({
      dataType: 'json',
      method: 'GET',
      data: {'offlineModeMsg':'ils_offline_home_message'},
      url: VuFind.path + '/AJAX/JSON?method=getIlsStatus',
      success: function(response) {
          $('.searchHomeContent').prepend(response.data);
      }
  });
});
JS;
  ?>
  <?=$this->inlineScript(\Zend\View\Helper\HeadScript::SCRIPT, $ilsStatusScript, 'SET'); ?>

  <?=$this->inlineScript(\Zend\View\Helper\HeadScript::SCRIPT, '$("#searchForm_lookfor").focus();', 'SET'); ?>
</div>

<?php if (isset($facetList) && is_array($facetList)): ?>
  <div class="search-home-facets">
    <?php foreach ($facetList as $field => $details): ?>
      <?php if (isset($this->hierarchicalFacets) && in_array($field, $this->hierarchicalFacets)): ?>
        <?php $this->headScript()->appendFile('vendor/jsTree/jstree.min.js'); ?>
        <?php $this->headScript()->appendFile('facets.js'); ?>
        <?php $sort = isset($this->hierarchicalFacetSortOptions[$field]) ? $this->hierarchicalFacetSortOptions[$field] : ''; ?>
        <?php
        $script = <<<JS
$(document).ready(function() {
  initFacetTree($('#facet_{$this->escapeHtml($field)}'), false);
});
JS;
        ?>
        <?=$this->inlineScript(\Zend\View\Helper\HeadScript::SCRIPT, $script, 'SET'); ?>
        <div class="home-facet <?=$this->escapeHtmlAttr($field) ?>">
          <h2><?=$this->transEsc('home_browse') . ' ' . $this->transEsc($details['label'])?></h2>
          <div id="facet_<?=$this->escapeHtml($field)?>" class="jstree-facet"
              data-facet="<?=$this->escapeHtml($field)?>"
              data-path="<?=$this->url($basicSearch)?>"
              data-exclude="0"
              data-operator="AND"
              data-exclude-title="<?=$this->transEsc('exclude_facet')?>"
              data-sort="all">
          </div>
        </div>
        <noscript>
      <?php endif; ?>
        
      <?php if (isset($this->hierarchicalFacets) && in_array($field, $this->hierarchicalFacets)): ?>
        </noscript>
      <?php endif; ?>
    <?php endforeach; ?>
    
            <? // Informationsboxen?> 
            <div>   
        <div style="width: 290px; border: 3px #e1e8ee solid; border-radius: 5px 5px 5px 5px; padding-bottom: 10px; padding-right: 30px; padding-left: 30px; padding-top: 30px; font-size: 16px; float: left; margin-right: 10px; margin-bottom: 10px;">
        
        	<div style="font-size:24px; margin-bottom:30px;">
        		<img src="/vufind/themes/bootprint3/images/circle.png" style="margin-right: 10px; margin-top: -5px;"></img>Sammelgebiet
        	</div>
        	
        	<div>
				<p>Das Sammelgebiet der Martin-Opitz-Bibliothek umfasst die Geschichte und Kultur der Deutschen in Ostmittel-, Ost-und Südosteuropa.</p>
				<p>Einen Schwerpunkt der Sammlung bilden die historischen östlichen Provinzen Preußens.</p>
       		</div>
       		
       		<div style="border-top: 1px #e1e8ee solid; width: 290px; margin-left: -33px;">
       			<a href="http://martin-opitz-bibliothek.de/de/uber-die-mob/uber-die-bibliothek"><div style="color: #fff; float: right; margin-right: 10px; margin-top: 20px; background-color: #9c9c9c; padding-left: 20px; padding-right: 20px;padding-top: 2px;padding-bottom: 2px; border-radius: 0px 10px 0px 0px;">
       				Mehr
       			</div></a>
       		</div>
        </div>
        
              
              
              
           <div style="width: 290px; border: 3px #e1e8ee solid; border-radius: 5px 5px 5px 5px; padding-bottom: 10px; padding-right: 30px; padding-left: 30px; padding-top: 30px; font-size: 16px; float: left; margin-right: 10px;margin-bottom: 10px;">
        
        	<div style="font-size:24px; margin-bottom:30px;">
        		<img src="/vufind/themes/bootprint3/images/circle2.png" style="margin-right: 10px; margin-top: -5px;"></img>Aktuelles
        	</div>
       				
       		<div>
				<p>Zeitschriften aus dem MOB-Bestand in der ZDB<p><a href="http://zdb-katalog.de/list.xhtml?asc=false&sort=jahr_sort&t=sig%3D%22364%0D%0A%22&key=cql&exp=true">Weiterlesen></a>
       		</div>
			
			<div>
				<p>Digitalisate der MOB im elektronischen Lesesaal<p><a href="http://digi96.martin-opitz-bibliothek.de/mob/browser">Weiterlesen></a>
       		</div>
       		
       		<div>
				<p>MOB-Digitalisate in der Deutschen Digitalen Bibliothek<p><a href="https://www.deutsche-digitale-bibliothek.de/searchresults?query=provider%3A%28Martin\-Opitz\-Bibliothek%29&offset=0&rows=20">Weiterlesen></a>
       		</div>
       		
       		<div style="border-top: 1px #e1e8ee solid; width: 290px; margin-left: -33px;">
       			<a href="http://martin-opitz-bibliothek.de/de/news-events/aktuelle"><div style="color: #fff; float: right; margin-right: 10px; margin-top: 20px; background-color: #9c9c9c; padding-left: 20px; padding-right: 20px;padding-top: 2px;padding-bottom: 2px; border-radius: 0px 10px 0px 0px;">
       				Mehr
       			</div></a>
       		</div>
        </div>   
              
              
              
              
              
               
                 
            <div style="width: 290px; border: 3px #e1e8ee solid; border-radius: 5px 5px 5px 5px; padding-bottom: 10px; padding-right: 30px; padding-left: 30px; padding-top: 30px; font-size: 16px; float: left;margin-bottom: 10px;">
        
        	<div style="font-size:24px; margin-bottom:30px;">
        		<img src="/vufind/themes/bootprint3/images/circle3.png" style="margin-right: 10px; margin-top: -5px;"></img>Bestand
        	</div>
        	
        	<div>
				<p>Mit über 330.000 Titeln, 12.000 Zeitschriften und 9.000 Karten bietet die Martin-Opitz-Bibliothek ein breites Spektrum an Literatur, sowohl in deutscher Sprache als auch in verschiedenen slavischen Sprachen an.</p>
       		</div>
       		
       		<div style="border-top: 1px #e1e8ee solid; width: 290px; margin-left: -33px;">
       			<a href="http://martin-opitz-bibliothek.de/de/recherche"><div style="color: #fff; float: right; margin-right: 10px; margin-top: 20px; background-color: #9c9c9c; padding-left: 20px; padding-right: 20px;padding-top: 2px;padding-bottom: 2px; border-radius: 0px 10px 0px 0px;">
       				Mehr
       			</div></a>
       		</div>
        </div>
        </div>
	    <? // Informationsboxen?>
    
  </div>
<?php endif; ?>
