<?php
  $options = $this->searchOptions($this->searchClassId);
  $facetLightbox = $options->getFacetListAction();
  if (empty($this->sortOptions)) {
    $this->sort = 'default';
    $this->sortOptions = [ 'default' => 'default' ];
  }
  $urlBase = $this->url($facetLightbox) . $results->getUrlQuery()->getParams() . '&amp;facet=' . urlencode($this->facet) . '&amp;facetexclude=' . $this->exclude . '&amp;facetop=' . $this->operator;
?>
<h2><?=$this->transEsc($this->facetLabel) ?></h2>
<?php if (count($this->sortOptions) > 1): ?>
  <div class="full-facet-sort-options">
    <label><?=$this->translate('Sort') ?></label>
    <div class="btn-group">
      <?php foreach ($this->sortOptions as $key=>$sort): ?>
        <a href="<?=$urlBase . '&amp;facetpage=1&amp;facetsort=' . urlencode($key) ?>" class="btn btn-default js-facet-sort<? if($this->sort == $key): ?> active<? endif; ?>" data-sort="<?=$key ?>" data-lightbox-ignore><?=$this->translate($sort) ?></a>
      <?php endforeach; ?>
    </div>
  </div>
<?php endif; ?>
<div class="lightbox-scroll full-facets">
  <?php foreach ($this->sortOptions as $key=>$sort): ?>
    <? $active = $this->sort == $key; ?>
    <div class="full-facet-list facet-group<? if(!$active): ?> hidden<? endif; ?>" id="facet-list-<?=$this->escapeHtmlAttr($key) ?>">
      <?php if ($active): ?>
        <?php if ($this->page > 1): ?>
          <a href="<?=$urlBase . '&amp;facetpage=' . ($this->page-1) . '&amp;facetsort=' . $this->sort ?>" class="facet js-facet-prev-page" data-page="<?=($this->page+1) ?>" data-sort="<?=$this->sort ?>" data-limit="<?=count($this->data) ?>" data-lightbox-ignore><?=$this->translate('prev') ?> ...</a>
        <?php endif; ?>
        <?php foreach ($this->data as $item): ?>
          <?php $toggleUrl = $item['isApplied']
              ? $this->url($options->getSearchAction()) . $this->results->getUrlQuery()->removeFacet($this->facet, $item['value'], $item['operator'])
              : $this->url($options->getSearchAction()) . $this->results->getUrlQuery()->addFacet($this->facet, $item['value'], $item['operator'])
          ?>
          <?php $subLinks = $this->exclude && !$item['isApplied']; ?>
          <?php if ($subLinks): ?>
            <li class="facet js-facet-item">
              <a href="<?=$toggleUrl ?>" data-lightbox-ignore data-title="<?=$this->escapeHtmlAttr($item['displayText']) ?>" data-count="<?=$item['count'] ?>"<? if($item['isApplied']): ?> title="<?=$this->transEsc('applied_filter') ?>"<?php endif;?>>
          <?php else: ?>
            <a href="<?=$toggleUrl ?>" data-lightbox-ignore class="facet js-facet-item<? if($item['isApplied']): ?> active<?endif;?>" data-title="<?=$this->escapeHtmlAttr($item['displayText']) ?>" data-count="<?=$item['count'] ?>"<? if($item['isApplied']): ?> title="<?=$this->transEsc('applied_filter') ?>"<? endif;?>>
          <?php endif; ?>
              <?php if (!empty($item['displayText'])): ?>
                <?=$this->escapeHtml($item['displayText']) ?>
              <?php else: ?>
                <?=$this->escapeHtml($item['value']) ?>
              <?php endif; ?>
            <?php if ($subLinks): ?>
              </a>
            <?php endif; ?>
            <?php if($item['isApplied']): ?>
              <?php if ($item['operator'] == 'OR'): ?>
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
              <?php else: ?>
                <i class="fa fa-check" aria-hidden="true"></i>
              <?php endif; ?>
            <?php else: ?>
              <span class="badge">
                <?=$this->localizedNumber($item['count']) ?>
                <?php if ($this->exclude): ?>
                  <a href="<?=$this->url($options->getSearchAction()) . $this->results->getUrlQuery()->addFacet($this->facet, $item['value'], 'NOT') ?>" title="<?=$this->transEsc('exclude_facet') ?>" data-lightbox-ignore><i class="fa fa-times" aria-hidden="true"></i></a>
                <?php endif; ?>
              </span>
            <?php endif; ?>
          <?=$subLinks ? '</li>' : '</a>'; ?>
        <?php endforeach; ?>
      <?php endif; ?>
      <?php if ($this->anotherPage): ?>
        <a href="<?=$urlBase . '&amp;facetpage=' . ($this->page+1) . '&amp;facetsort=' . urlencode($key) ?>" class="facet js-facet-next-page" data-page="<?=($this->page+1) ?>" data-sort="<?=$this->escapeHtmlAttr($key) ?>" data-lightbox-ignore><?=$this->translate('more') ?> ...</a>
      <?php endif; ?>
    </div>
  <?php endforeach; ?>
</div>
<button class="btn btn-default lightbox-only" data-dismiss="modal"><?=$this->translate('close') ?></button>
<?=$this->inlineScript(\Zend\View\Helper\HeadScript::SCRIPT, '(typeof VuFind.lightbox_facets !== "undefined") && VuFind.lightbox_facets.setup();', 'SET'); ?>
