legend {
  margin: 0; }

@media (min-width: 768px) {
  .form-fix-database .control-label,
  .form-oai-home .control-label,
  .form-search-reserves .control-label {
    width: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: right; }
  .form-fix-database .form-control,
  .form-oai-home .form-control,
  .form-search-reserves .form-control {
    display: inline-table;
    width: 300px; }
  .form-fix-database .form-group > .btn:first-child,
  .form-oai-home .form-group > .btn:first-child,
  .form-search-reserves .form-group > .btn:first-child {
    margin-left: 200px; } }
