.bp-icon, .fa-x, i.fa-archive, i.fa-asterisk, i.fa-atlas, i.fa-bell, i.fa-book, i.fa-bookbag-add, i.fa-bookbag-delete, i.fa-bookbag-empty, i.fa-bookmark, i.fa-braille, i.fa-cancel-all-holds, i.fa-cancel-all-storage-retrieval-requests, i.fa-cancel-holds, i.fa-cancel-storage-retrieval-requests, i.fa-cdrom, i.fa-chart, i.fa-chipcartridge, i.fa-collage, i.fa-close, i.fa-disccartridge, i.fa-drawing, i.fa-ebook, i.fa-edit, i.fa-electronic, i.fa-email,
i.fa-envelope,
i.fa-envelope-o, i.fa-exchange, i.fa-external-link, i.fa-filmstrip, i.fa-flag, i.fa-flashcard, i.fa-floppydisk, i.fa-globe, i.fa-grid, i.fa-heart, i.fa-home, i.fa-inbox, i.fa-journal, i.fa-kit, i.fa-leaf, .fa-sitemap, i.fa-list, i.fa-list-alt, i.fa-export, i.fa-lock, i.fa-manuscript, i.fa-map, i.fa-microfilm, i.fa-minus-circle, i.fa-minus-sign, i.fa-mobile, i.fa-motionpicture, i.fa-musicalscore, i.fa-musicrecording, i.fa-newspaper, i.fa-ok, i.fa-online, i.fa-painting, i.fa-photo, i.fa-photonegative, i.fa-physicalobject, i.fa-plus, i.fa-plus-circle, i.fa-print, i.fa-qrcode, i.fa-remove, i.fa-renew, i.fa-renew-all, i.fa-report, i.fa-rss, i.fa-save, i.fa-search, i.fa-search-plus, i.fa-sensorimage, i.fa-serial, i.fa-shopping-cart, i.fa-sign-in, i.fa-sign-out, i.fa-slide, i.fa-software, i.fa-soundcassette, i.fa-sounddisc, i.fa-soundrecording, i.fa-spinner, i.fa-star, i.fa-status-unknown, i.fa-suitcase, i.fa-tapecartridge, i.fa-tapecassette, i.fa-tapereel, i.fa-transparency, i.fa-trash,
i.fa-trash-o, i.fa-tree, i.fa-tree-muted, i.fa-unknown, i.fa-usd, i.fa-user, i.fa-video, i.fa-videocartridge, i.fa-videocassette, i.fa-videodisc, i.fa-videoreel, i.fa-visual, #cart-empty-label i.fa-close {
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent !important;
  content: '';
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 0;
  text-shadow: none;
  vertical-align: text-bottom;
  width: 16px; }

.fa-x {
  background-image: url("../../bootprint3/images/icons/page_white.png"); }

i.fa-archive {
  background-image: url("../../bootprint3/images/icons/package.png"); }

i.fa-asterisk {
  background-image: url("../../bootprint3/images/icons/list.png"); }

i.fa-atlas {
  background-image: url("../../bootprint3/images/icons/map.png"); }

i.fa-bell {
  background-image: url("../../bootprint3/images/icons/bell.png"); }

i.fa-book {
  background-image: url("../../bootprint3/images/icons/book.png"); }

i.fa-bookbag-add {
  background-image: url("../../bootprint3/images/icons/bookbag_add.png"); }

i.fa-bookbag-delete {
  background-image: url("../../bootprint3/images/icons/bookbag_delete.png"); }

i.fa-bookbag-empty {
  background-image: url("../../bootprint3/images/icons/bookbag_empty.png"); }

i.fa-bookmark {
  background-image: url("../../bootprint3/images/icons/bookmark_add.png"); }

i.fa-braille {
  background-image: url("../../bootprint3/images/icons/page_red.png"); }

i.fa-cancel-all-holds {
  background-image: url("../../bootprint3/images/icons/holdCancelAll.png"); }

i.fa-cancel-all-storage-retrieval-requests {
  background-image: url("../../bootprint3/images/icons/holdCancelAll.png"); }

i.fa-cancel-holds {
  background-image: url("../../bootprint3/images/icons/holdCancel.png"); }

i.fa-cancel-storage-retrieval-requests {
  background-image: url("../../bootprint3/images/icons/holdCancel.png"); }

i.fa-cdrom {
  background-image: url("../../bootprint3/images/icons/cd.png"); }

i.fa-chart {
  background-image: url("../../bootprint3/images/icons/chart_bar.png"); }

i.fa-chipcartridge {
  background-image: url("../../bootprint3/images/icons/server.png"); }

i.fa-collage {
  background-image: url("../../bootprint3/images/icons/pictures.png"); }

i.fa-close {
  background-image: url("../../bootprint3/images/icons/cross.png"); }

i.fa-disccartridge {
  background-image: url("../../bootprint3/images/icons/cd.png"); }

i.fa-drawing {
  background-image: url("../../bootprint3/images/icons/photo.png"); }

i.fa-ebook {
  background-image: url("../../bootprint3/images/icons/book_addresses.png"); }

i.fa-edit {
  background-image: url("../../bootprint3/images/icons/edit.png"); }

i.fa-electronic {
  background-image: url("../../bootprint3/images/icons/mouse.png"); }

i.fa-email,
i.fa-envelope,
i.fa-envelope-o {
  background-image: url("../../bootprint3/images/icons/email.png"); }

i.fa-exchange {
  background-image: url("../../bootprint3/images/icons/arrow_refresh.png"); }

i.fa-external-link {
  background-image: url("../../bootprint3/images/icons/link_go.png"); }

i.fa-filmstrip {
  background-image: url("../../bootprint3/images/icons/film.png"); }

i.fa-flag {
  background-image: url("../../bootprint3/images/icons/flag_red.png"); }

i.fa-flashcard {
  background-image: url("../../bootprint3/images/icons/table_lightening.png"); }

i.fa-floppydisk {
  background-image: url("../../bootprint3/images/icons/disk.png"); }

i.fa-globe {
  background-image: url("../../bootprint3/images/icons/world.png"); }

i.fa-grid {
  background-image: url("../../bootprint3/images/icons/view_grid.png"); }

i.fa-heart {
  background-image: url("../../bootprint3/images/icons/heart.png"); }

i.fa-home {
  background-image: url("../../bootprint3/images/icons/house.png"); }

i.fa-inbox {
  background-image: url("../../bootprint3/images/icons/box.png"); }

i.fa-journal {
  background-image: url("../../bootprint3/images/icons/book.png"); }

i.fa-kit {
  background-image: url("../../bootprint3/images/icons/briefcase.png"); }

i.fa-leaf, .fa-sitemap {
  background-image: url("../../bootprint3/images/icons/treeCurrent.png"); }

i.fa-list {
  background-image: url("../../bootprint3/images/icons/view_list.png"); }

i.fa-list-alt, i.fa-export {
  background-image: url("../../bootprint3/images/icons/application_add.png"); }

i.fa-lock {
  background-image: url("../../bootprint3/images/icons/lock.png"); }

i.fa-manuscript {
  background-image: url("../../bootprint3/images/icons/script.png"); }

i.fa-map {
  background-image: url("../../bootprint3/images/icons/map.png"); }

i.fa-microfilm {
  background-image: url("../../bootprint3/images/icons/film.png"); }

i.fa-minus-circle, i.fa-minus-sign {
  background-image: url("../../bootprint3/images/icons/delete.png"); }

i.fa-mobile {
  background-image: url("../../bootprint3/images/icons/phone.png"); }

i.fa-motionpicture {
  background-image: url("../../bootprint3/images/icons/television.png"); }

i.fa-musicalscore {
  background-image: url("../../bootprint3/images/icons/music.png"); }

i.fa-musicrecording {
  background-image: url("../../bootprint3/images/icons/music.png"); }

i.fa-newspaper {
  background-image: url("../../bootprint3/images/icons/newspaper.png"); }

i.fa-ok {
  background-image: url("../../bootprint3/images/icons/tick.png"); }

i.fa-online {
  background-image: url("../../bootprint3/images/icons/computer.png"); }

i.fa-painting {
  background-image: url("../../bootprint3/images/icons/paintbrush.png"); }

i.fa-photo {
  background-image: url("../../bootprint3/images/icons/photo.png"); }

i.fa-photonegative {
  background-image: url("../../bootprint3/images/icons/film.png"); }

i.fa-physicalobject {
  background-image: url("../../bootprint3/images/icons/box.png"); }

i.fa-plus {
  background-image: url("../../bootprint3/images/icons/add.png"); }

i.fa-plus-circle {
  background-image: url("../../bootprint3/images/icons/add.png"); }

i.fa-print {
  background-image: url("../../bootprint3/images/icons/printer.png"); }

i.fa-qrcode {
  background-image: url("../../bootprint3/images/icons/qrcode.png"); }

i.fa-remove {
  background-image: url("../../bootprint3/images/icons/delete.png"); }

i.fa-renew {
  background-image: url("../../bootprint3/images/icons/renew.png"); }

i.fa-renew-all {
  background-image: url("../../bootprint3/images/icons/renewAll.png"); }

i.fa-report {
  background-image: url("../../bootprint3/images/icons/report.png"); }

i.fa-rss {
  background-image: url("../../bootprint3/images/icons/feed.png"); }

i.fa-save {
  background-image: url("../../bootprint3/images/icons/disk.png"); }

i.fa-search {
  background-image: url("../../bootprint3/images/icons/magnifier.png"); }

i.fa-search-plus {
  background-image: url("../../bootprint3/images/icons/magnifier_zoom_in.png"); }

i.fa-sensorimage {
  background-image: url("../../bootprint3/images/icons/photo.png"); }

i.fa-serial {
  background-image: url("../../bootprint3/images/icons/page_white_stack.png"); }

i.fa-shopping-cart {
  background-image: url("../../bootprint3/images/icons/cart.png"); }

i.fa-sign-in {
  background-image: url("../../bootprint3/images/icons/door_in.png"); }

i.fa-sign-out {
  background-image: url("../../bootprint3/images/icons/door_out.png"); }

i.fa-slide {
  background-image: url("../../bootprint3/images/icons/film.png"); }

i.fa-software {
  background-image: url("../../bootprint3/images/icons/drive_cd.png"); }

i.fa-soundcassette {
  background-image: url("../../bootprint3/images/icons/sound.png"); }

i.fa-sounddisc {
  background-image: url("../../bootprint3/images/icons/cd.png"); }

i.fa-soundrecording {
  background-image: url("../../bootprint3/images/icons/sound.png"); }

i.fa-spinner {
  background-image: url("../../bootprint3/images/icons/ajax_loading.gif"); }

i.fa-star {
  background-image: url("../../bootprint3/images/icons/star.png"); }

i.fa-status-unknown {
  background-image: url("../../bootprint3/images/icons/bullet_orange.png"); }

i.fa-suitcase {
  background-image: url("../../bootprint3/images/icons/bookbag.png"); }

i.fa-tapecartridge {
  background-image: url("../../bootprint3/images/icons/drive.png"); }

i.fa-tapecassette {
  background-image: url("../../bootprint3/images/icons/drive.png"); }

i.fa-tapereel {
  background-image: url("../../bootprint3/images/icons/film.png"); }

i.fa-transparency {
  background-image: url("../../bootprint3/images/icons/film.png"); }

i.fa-trash,
i.fa-trash-o {
  background-image: url("../../bootprint3/images/icons/bin.png"); }

i.fa-tree {
  background-image: url("../../bootprint3/images/icons/treeCurrent.png"); }

i.fa-tree-muted {
  background-image: url("../../bootprint3/images/icons/treeMuted.png"); }

i.fa-unknown {
  background-image: url("../../bootprint3/images/icons/page_white.png"); }

i.fa-usd {
  background-image: url("../../bootprint3/images/icons/money_dollar.png"); }

i.fa-user {
  background-image: url("../../bootprint3/images/icons/user.png"); }

i.fa-video {
  background-image: url("../../bootprint3/images/icons/television.png"); }

i.fa-videocartridge {
  background-image: url("../../bootprint3/images/icons/television.png"); }

i.fa-videocassette {
  background-image: url("../../bootprint3/images/icons/television.png"); }

i.fa-videodisc {
  background-image: url("../../bootprint3/images/icons/cd.png"); }

i.fa-videoreel {
  background-image: url("../../bootprint3/images/icons/film.png"); }

i.fa-visual {
  background-image: url("../../bootprint3/images/icons/view_visual.png"); }

body.rtl i.fa-external-link {
  background-image: url("../../bootprint3/images/icons/link_go_rtl.png"); }
body.rtl i.fa-flag {
  background-image: url("../../bootprint3/images/icons/flag_red_rtl.png"); }

#cart-empty-label i.fa-close {
  background-image: url("../../bootprint3/images/icons/briefcase.png"); }
