<footer class="hidden-print">
  <div class="footer-container">
    <div class="footer-column">
      <p><strong><?=$this->transEsc('Search Options')?></strong></p>
      <ul>
        <li><a href="<?=$this->url('search-history')?>"><?=$this->transEsc('Search History')?></a></li>
        <li><a href="<?=$this->url('search-advanced')?>"><?=$this->transEsc('Advanced Search')?></a></li>
	<li><a href="<?=$this->url('channels-home')?>"><?=$this->transEsc('channel_explore')?></a></li>
      </ul>
    </div>
    <div class="footer-column">
      <p><strong><?=$this->transEsc('Need Help?')?></strong></p>
      <ul>
        <li><a href="<?=$this->url('help-home')?>?topic=search&amp;_=<?=time() ?>" data-lightbox class="help-link"><?=$this->transEsc('Search Tips')?></a></li>
        <li><a href="http://martin-opitz-bibliothek.de/de/kontakt2261"><?=$this->transEsc('Ask a Librarian')?></a></li>
      </ul>
      </ul>
    </div>
    <div class="footer-column">
      <p><strong><?=$this->transEsc('Praktische Hinweise')?></strong></p>
      <ul>
        <li><a href="http://martin-opitz-bibliothek.de/de/uber-die-mob/anfahrt"><?=$this->transEsc('Anfahrt')?></a></li>
		<li><a href="http://martin-opitz-bibliothek.de/de/uber-die-mob/service/oeffnungszeiten"><?=$this->transEsc('Öffnungszeiten')?></a></li>
		<li><a href="http://digi96.martin-opitz-bibliothek.de/mob/browser"><?=$this->transEsc('Elektronischer Lesesaal')?></a></li>
		<li><a href="http://martin-opitz-bibliothek.de/de"><?=$this->transEsc('Webseite der MOB')?></a></li>
		<li><a href="http://martin-opitz-bibliothek.de/de/uber-die-mob/service/leihfristverlaengerungen"><?=$this->transEsc('Leihfristverlängerung')?></a></li>
      </ul>
    </div>
  
  <div class="footer-column">
      <ul>
       <img src="/vufind/themes/bootprint3/images/logo-footer.png"></img>
      </ul>
    </div>
  </div>
  </div>
  <div class="poweredby">
    <?=$this->layout()->poweredBy ?>
  </div>
</footer>
